.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================== Start my custom CSS ================== */

.app-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

header ul {
  list-style-type: none;
}

body {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightcoral;
}

.characterCard {
  width: 48%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1% 0;
  background-color: lightseagreen;
}

.characterCard:hover {
  color: firebrick;
  background-color: black;
}
